{% include 'classifier/header.html' %}
<div class="alert alert-warning" role="alert">
  Для того, чтобы удалить или обновить статью, вам необходимо потвердить изменения. Просто нажмите кнопку, которая Вам нужна - справа от нее нажмите на кнопку подтверждения.
</div>

<main>
<div style="padding-top: 20px" class="container">
  <div class="row">
    <div class="col-sm-12">
     <div id="content">
        <h5 id="articleId"></h5>
        <form>
            <p>Ссылка на источник:</p><p hidden id="sourceError"></p>
            <input  class="form-control" style="width: 300px" type="url" id="source"/>
            <p>Категория:</p>
            <select  class="form-control" style="width: 300px" id="category">
                <option>Спорт</option>
                <option>Наука и техника</option>
                <option>Интернет и СМИ</option>
                <option>Экономика</option>
                <option>Культура</option>
            </select>
            <p>Дата публикации:</p><p hidden id="datetimeError"></p>
            <input  class="form-control" style="width: 300px" type="text" id="datetime"/>
            <p>Заголовок:</p><p hidden id="titleError"></p>
            <input    class="form-control" style="width: 300px" type="text" id="title"/>
            <p>Описание:</p><p hidden id="descriptionError"></p>
            <input  class="form-control" style="width: 300px" type="text" id="description"/>
            <p>Текст:</p><p hidden id="textError"></p>
            <textarea  class="form-control" cols="100" rows="15" id="text"></textarea>
            <p>Теги:</p><p hidden id="tagsError"></p>
            <input   class="form-control" style="width: 300px" type="text" id="tags"/>
        </form>

        <button type="button" class="btn btn-outline-primary" id = "first" onclick="updateMe()">Изменить новостную статью</button>

         <button type="button" style="visibility: hidden"  id = "updatebutton" class="btn btn-success" onclick="updateArticle()">Подтвердить обновление</button>
        <p id="updateResult"></p>

            <button type="button" class="btn btn-outline-primary"  id="myButton" onclick="hideMe()">Удалить статью</button>
         <button  style="visibility: hidden;" type="button" class="btn btn-danger"  onclick="deleteArticle()" id="button">Подтвердить удаление</button>
                <button  style="visibility: hidden;" type="button" class="btn btn-warning"  onclick="hideMe2();hideMe3()" id="button3">Отменить удаление</button>
         <p id="deleteError"></p>

         </div>
        <form action="/collection">
      <input type="submit" class="btn btn-outline-primary" style="text-align: left;margin-bottom: 20px"  value="Назад">
    </form>
    </div>
  </div>
</div>
    </main>


        <script>
            function updateMe() {
                var source = document.getElementById('source');
                var category = document.getElementById('category');
                var datetime = document.getElementById('datetime');
                var title = document.getElementById('title');
                var description = document.getElementById('description');
                var text = document.getElementById('text')
                var tags = document.getElementById('tags');
                var updatebutton = document.getElementById('updatebutton');
                var first = document.getElementById('first');

                updatebutton.style.visibility = 'visible';
                source.disabled = 'False';
                category.disabled = 'false';
                datetime.disabled = 'false';
                title.disabled = 'false';
                description.disabled = 'false';
                tags.disabled = 'false';
                text.disabled = 'false'
                first.disabled = 'true';


            }
        </script>
        <script>
            function hideMe() {
                var loading = document.getElementById("myButton");
                var loading2 = document.getElementById("button");
                var loading3= document.getElementById("button3")
                loading2.style.visibility = 'visible';
                loading.disabled = 'true';
                loading3.style.visibility = 'visible';
            }

            function hideMe2(){
                var loading = document.getElementById("button");
                var loading3= document.getElementById("button3");
                var loading2 = document.getElementById("myButton");
                loading.style.visibility = 'hidden';
                loading3.style.visibility = 'hidden';
                loading2.disabled = 'false';
                location.reload()
            }


        </script>
        <script src="/static/functionsForArticle.js"></script>
        <script defer>
            showArticle();
        </script>

    </div>

</div>
      </div>
    </div>


</body>
</html>

