{% include 'classifier/header.html' %}

<main>
<div class="alert alert-warning" role="alert">
  Чтобы использовать фильтр, выберите категорию нужных вам статей или воспользуйтесь поиском по датам публикации. Выберите тип сортировки и нажмите кнопку найти.
</div>

<div class="container">
  <div id="container_collection" class="row">
    <div class="col-sm-4">
       <div>
        <h4>Фильтр</h4>
        <form id="formFilter">
            <p>Категория</p>
            <select class="form-control" id="categoryFilter">
                <option></option>
                <option>Спорт</option>
                <option>Наука и техника</option>
                <option>Интернет и СМИ</option>
                <option>Экономика</option>
                <option>Культура</option>
            </select>
            <p>Дата публикации с: </p><p hidden id="dateStartFilterError"></p>
            <input class="form-control" type="date" id="dateStartFilter" />
            <p>Дата публикации по: </p><p hidden id="dateEndFilterError"></p>
            <input class="form-control" type="date" id="dateEndFilter" />
            <p>Сортировка</p><p hidden id="sortFilterError"></p>
            <select class="form-control" id="sortFilter">
                <option></option>
                <option>Время публикации</option>
                <option>Категория</option>
            </select>
            <p>Тип сортировки</p><p hidden id="sortTypeFilterError"></p>
            <select class="form-control" id="sortTypeFilter">
                <option></option>
                <option>По возрастанию</option>
                <option>По убыванию</option>
            </select>
            <p>Кол-во элементов на странице</p>
            <select class="form-control" id="pageLimitFilter" value="10">
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
        </form>
            <button type="button" onclick="showArticlesOnPage(1,null)" class="btn btn-primary">Найти</button>

           <br>
            <div class="count_elem"  id="countElements">

    </div>
    </div>
    </div>
    <div  class="col-sm-8">

        <h4 id="header_collection">Новостные статьи</h4>

    <div id="articlesPreview">

    </div>

    <div class = "pages_elem" id="pagesElements">

    </div>
    </div>
  </div>
</div>

   <div>
        <p id="resultAdd"></p>
   </div>

</main>


    <script src="/static/functionsForCollection.js"></script>
    <script defer>
        showArticlesOnPage(1, null);
    </script>



    <hr />


</body>
</html>