{% include 'classifier/header.html' %}
<main>
<div id ="alert-index" class="alert alert-success" role="alert">
  На данный момент система классифицирует текст по 5 категориям: Интернет и СМИ, Спорт, Экономика, Наука и техника и Культура.
</div>
    <div id = "classifier_div">
        <div id="classifier_head">
            <h4>Классификатор текста</h4>
        </div>

        <div id="form_classification" class="form-group">
            <label for="exampleFormControlTextarea1">Введите текст для классификации</label>
            <textarea   class="form-control" id="textForClassifier" rows="16"></textarea>
        </div>

    </div>

    <div id="center_classif">
        <button type="button" onclick="classify()" class="btn btn-primary">Классифицировать</button>

    </div>
<br>

    <div id="center_classif">
        <p hidden id="textForClassifierError"></p>
        <H5 style="padding-bottom: 5px" id="resultOfClassifier"></H5>
    </div>


</main>

<footer class="navbar-dark bg-dark " id="footer_index">
    <div id="center_classif">
        <p id="year_index">2021 год</p>
    </div>
</footer>



    <script src="/static/helpfunc.js"></script>
    <script src="/static/functionsForClassifier.js"></script>
    <script defer type="text/javascript">
     footer();
    </script>



</body>
</html>