#alert-index{
	text-align: center;
}

#classifier_div{
	text-align: center;
}

#form_classification{
	text-align: center;

}

#textForClassifier{
	text-align: left;
	width: 800px;
	margin-left: auto;
    margin-right: auto;
}
#center_classif{
	text-align: center;
	width: 800px;
	margin-left: auto;
    margin-right: auto;
}

#footer_index {
	position: absolute;
	bottom: 0px;
	width: 1536px;
}

#year_index{
	color:white;
	vertical-align: middle;
	text-align: center;
}

#add_article{
	margin-left: 20px;
	margin-top: 20px;
	width: 600px
}