#classifier_div{
  padding-top: 20px;
}

#classifier_head{
    text-align: center;
}

#header_body{
  position: relative;
  margin: 0;
  color: black;
  /* Растягиваем body по высоте html */
  min-height: 100%;
}

#form_classification{
    text-align: center;
}

#textForClassifier{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px
}

#year_index{
    text-align: center;
    color:white;
    text-effect: emboss;
}

#center_classif{
    text-align: center;
}

#footer_index{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Высота footer по умолчанию */
  height: 30px;
}

.pages_elem{
    text-align: center;
}

#header_collection{
    text-align: center;
}
.count_elem{
    text-align: center;
    margin-top: 10px;
}

#container_collection{
    padding-top: 5px;
}
#form1{
        margin:1em 0;
        padding-top:10px;
        background: white no-repeat 0 0;
        width: 300px;
        }
#form1 fieldset{
        margin:0;
        padding:0;
        border:none;
        float:left;
        display:inline;
        width:260px;
        margin-left:25px;
        }
#form1 legend{display:none;}
#form1 p{margin:.5em 0;}
#form1 label{display:block;}
#form1 input, #form1 textarea{
        width:252px;
        border:1px solid #ddd;
        background:#fff repeat-x;
        padding:3px;
        }
#form1 textarea{
        height:125px;
        overflow:auto;
        }
#form1 p.submit{
        clear:both;
        background: no-repeat 0 100%;
        padding:0 25px 20px 25px;
        margin:0;
        text-align:right;
        }
#form1 button{
        width:150px;
        height:37px;
        line-height:37px;
        border:none;
        background: blue no-repeat 0 0;
        color:#fff;
        cursor:pointer;
        text-align:center;
    }